<div class="mx-auto" style="width: 30vw;">

    <h1 class="text-center mt-5">New Pet</h1>

    <div class="mt-5">
        <%= render 'form', pet: @pet %>
    </div>

    <div class="text-center">
        <%= link_to 'Back', client_pets_path %>
    </div>
</div>
