<div class="mx-auto" style="width: 30vw">
  <h1 class="text-center mt-5">New Pet History</h1>

  <div class="mt-5"><%= render 'form', pet_history: @pet_history %></div>

  <div class="text-center">
    <%= link_to 'Back', client_pet_pet_histories_path, :class => 'btn btn-light form-control'%>
  </div>
</div>