<div class="mx-auto mt-5" style="width: 30vw">
  <h1>Editing Client</h1>
  <div class="mt-5"><%= render 'form', client: @client %></div>

  <div class="text-center">
    <%= link_to 'Show', @client %> | <%= link_to 'Back', clients_path %>
  </div>
</div>
